.Filter-container {
    background-color: white;
    display: flex;
    height: 60px;
}

.items-left {
    font-family: 'Poiret One', cursive;
    margin: auto 15px;
    color: #777777;
}

.filter-button {
    margin: auto 15px;
    flex: 1;
}

button {
    border-color: rgba(175, 47, 47, 0);
    font-family: 'Poiret One', cursive;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 3px 7px;
    cursor: pointer;
    transition: .3s;
    font-size: 14px;
    color: #777777;
    outline: none;
    margin: 3px;
    /* outline: none - Граница не отображается */
}

button.active,
button.active:hover {
    border-color: rgba(175, 47, 47, 0.2);
}

button:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filter-clear-completed {
    margin: auto 15px;
    color: #777777;
}
