.App {
    font-family: 'Poiret One', cursive;
    text-align: center;
    background-color: #F5F5F5;
}

.App-title {
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
    font-size: 100px;
    margin: 10px;
    padding: 10px;
    height: 120px;
    background-color: #F5F5F5;
    color: #E8D8D8;
}
