.TodosInput, input {
    box-shadow: 0 0 5px 1px rgba(221, 221, 221, 1);
    font-family: 'Poiret One', cursive;
    justify-content: center;
    background-color: white;
    font-weight: lighter;
    border: transparent;
    text-align: center;
    transition: 0.3s;
    font-size: 28px;
    color: #4D4D4D;
    margin: 0 auto;
    display: flex;
    height: 60px;
    width: 600px;
    outline: none;

}

input:hover {
    transition: 0.3s;
    cursor: pointer;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #E6E6E6 !important;
    font-family: 'Poiret One', cursive !important;
}
