.checkbox-all-boxes {
    font-family: 'Poiret One', cursive;
    background-color: white;
    font-weight: lighter;
    border: transparent;
    border-bottom: 1px solid #E6E6E6;
    font-size: 28px;
    color: #4D4D4D;
    margin: 0 auto;
    width: 600px;
    outline: none;
}

.checkbox-one-box {
    border-bottom: 1px solid #E6E6E6;
    align-items: center;
    display: flex;
    height: 55px;
}

.checkbox {
    border: 1px solid #E6E6E6;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
    margin: 0px 10px;
    display: flex;
    height: 30px;
    width: 30px;
}

.checkbox.active {
    border: 1px solid #77BFB0;
}

.checkbox:hover {
    cursor: pointer;
    border: 1px solid #77BFB0;
}

.check {
    border: 1px solid #77BFB0;
    background-color: #77BFB0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.checkbox-text {
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
    font-size: 26px;
    margin: auto 0;

}

.checkbox-text.active{
    text-decoration: line-through;
    color: #E6E6E6;
}
