.checkbox-all-boxes {
    border: transparent;
    border-bottom: 1px solid #E6E6E6;
    font-family: 'Poiret One', cursive;
    background-color: white;
    font-weight: lighter;
    font-size: 28px;
    color: #4D4D4D;
    margin: 0 auto;
    width: 600px;
    outline: none;
}

.checkbox-one-box {
    border-bottom: 1px solid #E6E6E6;
    align-items: center;
    display: flex;
    height: 55px;
}

.checkbox-one-box:hover .delete-button {
    opacity: 1;
}

.checkbox {
    border: 1px solid #E6E6E6;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
    margin: 0px 10px;
    display: flex;
    height: 30px;
    width: 30px;
}

.checkbox.active {
    border: 1px solid #77BFB0;
}

.checkbox:hover {
    border: 1px solid #77BFB0;
    cursor: pointer;
}

.check {
    border: 1px solid #77BFB0;
    background-color: #77BFB0;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.checkbox-text {
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
    text-align: left;
    font-size: 26px;
    margin: auto 0;
    flex: 1;
}

.checkbox-text.active{
    text-decoration: line-through;
    color: #D9D9D9;
}

.delete-button {
    font-weight: lighter;
    border: transparent;
    transition: 0.3s;
    font-size: 35px;
    margin: auto 0;
    color: #cc9a9a;
    outline: none;
    margin: 10px;
    height: 40px;
    width: 40px;
    opacity: 0;
}

.delete-button:hover {
    color: #af5b5e;
}
